<html>
<head>
</head>
<body>
<p>Hi {{ username }}</p>
<p>
    Affiliate {{ casinoname }} has changed web address
</p>
<p>
    New address is {{ casinourl }}
</p>
<p>Regards,</p>
<p>The NDC Team</p>
</body>
</html>