{% extends 'base.html.twig' %}
{% block main %}
<div class="gray-box text-holder">
    <div class="container-narrow">
        <form id="reset_password_landing_form" >
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <input id="reset_password_first" type="password" aria-label="New password" placeholder="New password" required>
                    </div>
                    <div class="col-md-6">
                        <input id="reset_password_second" type="password" aria-label="Confirm new password" placeholder="Confirm new password" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="reset_password_confirm" data-password_reset_token="{{ user.resetPasswordToken }}">Change Password</button>
            </div>
            <p id="reset_password_info"></p>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ render(controller('App\\Controller\\TemplateController::userPopups'))}}
{% endblock %}