<form id="reset_password_form">
    <div class="form-group">
        <input id="reset_email" type="email" aria-label="Type in your e-mail" placeholder="Type in your e-mail" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-small btn-shadow">Reset Password</button>
    </div>
    <p id="reset_password_info"></p>
</form>