{% extends 'base.html.twig' %}

    {% block main %}
        <div class="container">
            <p style="text-align: center; margin-top: 2em; font-size: 1.4em;">
                Thanks for subscribing!
            </p>
        </div>
    {% endblock %}
