//colors
$white: #fff;
$masala: #3c3b3b;
$fuel_yellow: #e0b52b;
$concrete: #f3f3f3;
$mine_shaft: #2f3036;
$mountain_meadow: #19c589;
$shark: #272727;
$black: #000;
$mountain_mist: #999;
$hawkes_blue: #d1e6f7;
$olivine: #8bb56e;
$tacao: #efb87a;
$glacier: #76bbc6;
$jaffa: #eb8b50;
$mystic: #e8ebf1;
$concord: #7d7d7d;
$selago: #edf1fc;
$fiord: #4f4f6f;
$lightning_yellow: #fcc419;
$cararra: #ebebeb;
$tiara_50: rgba(192,209,218, 0.5);
$celeste: #d1d1d1;
$white_90: rgba(255,255,255,0.9);
$robins_egg_blue: #00bff3;
$sunglo: #ea6a6a;
$mischka_70: rgba(204,204,223,0.7);
$mischka_30: rgba(204, 204, 223, 0.3);
$black_12_5: rgba(0,0,0,.125);
$gray: #808080;
$tan_hide: #ed945e;
$snuff: #dcdbe7;
$alabaster: #f8f9fa;
$bon_jour: #e4dde4;
$gallery: #efefef;
$prim: #eae2ea;
$bondi_blue: #0388b6;
$roman: #da6265;
$amour: #f4e9f4;
$silver_chalice: #adadad;
$gamboge: #dc9f00;
$pale_canary: #ff9;
$yellow: #ff0;
$bizarre: #f0dddd;
$mischka: #ccccdf;
$dove_gray: #727272;
$tuatara: #343638;
$cloud: #c6c5c5;
$cape_palliser: #a77039;
$rangoon_green: #191919;
$cod_gray: #060606;
$woodsmoke: #101010;
$storm_dust: #636363;
$monsoon: #898989;
$fuscous_gray: #535454;
$black_50: rgba(0,0,0,0.5);
$star_dust: #a1a1a1;
$black_25: rgba(0, 0, 0, .25);
$tuatara_50: rgba(52,54,56,0.5);
$tundora: #444;
$nobel: #b5b5b5;
$geyser: #d5d9e7;
$white_50: rgba(255, 255, 255, .5);
$maverick: #d2c6d9;
$white_60: rgba(255, 255, 255, .6);
$silk: #b8b0a7;
$pumice: #c5c5c5;
$hurricane: #86827a;
$lemon_grass: #9b978e;
$flint: #6e6a63;
$black_40: rgba(0, 0, 0, .4);
$wild_sand: #f6f5f3;
$romance: #fefdfb;
$gallery: #f0eeed;
$log_cabin: #252422;
$tan: #ccad8e;
$twine: #bd946b;
$azure: #3b5998;
$curious_blue: #26a6d1;
$valencia: #dd4b39;
$chateau_green: #39b54a;
$bison_hide: #c0b5a8;
$black_35: rgba(0, 0, 0, .35);
$silver: #bfbfbf;
$gravel: #484848;
$regent_gray: #82949b;
$golden_tainoi: #ffce54;
$meteor: #d38a00;
$natural_gray: #8d8983;
$swirl: #d9d1c6;
$mercury: #e7e5e4;
$white_30: rgba(255, 255, 255, .3);
$white_25: rgba(255, 255, 255, .25);
$lightning_yellow_25: rgba(255, 195, 41, .25);
$santas_gray: #9fa4af;
$fuchsia_blue: #6e45e2;
$lily_white: #e6f6ff;
$ship_cove: #757ec2;
$loblolly: #c1c5d2;
$ziggurat: #bbdfe0;
$ghost: #c9ceda;
$botticelli: #ced9e4;
$martinique: #383157;
$sun: #fbad18;
$white_20: rgba(255,255,255,0.2);
$gray_nurse: #e8e8e8;
$pink_swan: #bbb;
$french_rose: #f04e83;
$maroon_flush: #b42554;
$pirate_gold: #c58107;
$gunsmoke: #858585;
$pot_pourri: #f0e9e0;
$dairy_cream: #f7e3b8;
$wild_watermelon: #fc6076;
$neon_carrot: #ff9a44;
$fedora: rgba(122,112,122,1);
$christi: #66a80f;
$tiara: #c0d1da;
$mulled_wine: #4f4e6e;
$danube: #69c;
$vivid_tangerine: #fda085;
$east_bay: #4f4f73;
$menu_link: #332f2f;
$light_blue: #c2d2f5;
$light_purple: #b1bff1;
$light_gray: #d7dbe8;
$light_dove: #d2ddf8;
$light_gray2: #f2f2f6;
$orange: #ed8a19;

$primary: $lightning_yellow;
$link-color: $robins_egg_blue;

//buttons
$body-color: $dove_gray;
$btn-border-radius: 30px;
$btn-border-radius-lg: 30px;
$btn-padding-y: 12px;
$btn-padding-x: 43px;
$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 60px;
$btn-font-weight: 700;
$input-btn-border-width: 2px;

//font
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Raleway', sans-serif;
$font-size-base: 1rem;
$headings-font-weight: 400;
$link-hover-decoration: none;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

$tooltip-color: $fiord;
$tooltip-bg: $white;
$tooltip-arrow-color: $fiord;
