<div class='modal-dialog-inner'>
    <h3>Log In To Your Account</h3>
    <div class="form-group">
        <input aria-label='Username' placeholder='Username' type='text' id='login_username' />
    </div>
    <div class="form-group">
        <input aria-label='Password' placeholder='Password' type='password' id='login_password' />
    </div>
    <p id='login_error'>Invalid username or password</p>
    <div class="form-group">
        <a href="#" class='btn btn-primary btn-shadow' id='loginbutton'>Login </a>
    </div>

    <div class='pass-reset'>Forgot your password?<br> <a href='#'>Reset password</a></div>
    <div class="social-log">
        <div class='social-text'>Log In With Your Social Media Account</div>
        <div class='social'>
            <li>
                <a class='s-facebook' href='{{socialregister.loginUrl}}' aria-label="facebook"><i class='fab fa-facebook-f' aria-hidden='true'></i></a>
            </li>
            <li>
                <div class="g-signin2 s-gplus" {% if not is_granted('IS_AUTHENTICATED_FULLY') %}data-onsuccess="onSignIn"{% endif %}></div>
            </li>
            <li>
                <a class='s-twitter' href='{{socialregister.url}}' aria-label="twitter"><i class='fab fa-twitter' aria-hidden='true'></i></a>
            </li>
        </div>
    </div>
    <p class='login-register'>Dont Have an Account? <a href='#' onclick='return false;' data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Register for free</a>
    </p>
</div>