 <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="tclose" data-dismiss="modal"></div>
        <div class='modal-dialog-inner'>
            <h3>Register Your Account</h3>
            <div class="form-group">
                <input aria-label='Username *' placeholder='Username *' type='text' name='reg_username' id='reg_username' value='{{ name }}'/>
            </div>
            <div class="form-group">
                <input aria-label='Email *' placeholder='Email *' type='text' name='reg_email' id='reg_email' value='{{ email }}' />
            </div>
            <div class="form-group">
                <input aria-label='Password *' placeholder='Password *' type='password' name='reg_password' id='reg_password'/>
            </div>
            <div class="form-group">
                <input aria-label='Confirm Password *' placeholder='Confirm Password *' type='password' name='reg_password2' id='reg_password2'/>
            </div>
            <p id='register_error'></p>
            <div class="form-group">
                <button id='registerbutton' class='btn btn-primary btn-shadow'>Register</button>
            </div>
            <div class="form-group form-group-checkbox terms-checkbox">
                <input id="reg_terms" type="checkbox" name="reg_terms" required>
                <label for="reg_terms">I agree with No Deposit Casino <a href='/terms-and-conditions'>Terms&Conditions</a></label>
                <p id='terms_error' class="form-error">Please accept Terms&Conditions to register</p>
            </div>
            <div class="form-group form-group-checkbox">
                <input id="reg_newsletter" type="checkbox" name="reg_newsletter">
                <label for="reg_newsletter">
                    Receive Weekly Newsletter<br/>
                    <small>Our newsletter contains the latest no deposit offers and codes.</small>
                </label>
            </div>
            <div class="social-log">
                <div class='social-text'>or Register With Your Social Media Account</div>
                <div class='social'>
                    <li>
                        <a class='s-facebook' href='{{socialregister.loginUrl}}' aria-label="facebook"><i class='fab fa-facebook-f' aria-hidden='true'></i></a>
                    </li>
                    <li>
                        <div class="g-signin2 s-gplus" {% if not is_granted('IS_AUTHENTICATED_FULLY') %}data-onsuccess="onSignIn"{% endif %}></div>
                    </li>
                    <li>
                        <a class='s-twitter' href='{{socialregister.url}}' aria-label="twitter"><i class='fab fa-twitter' aria-hidden='true'></i></a>
                    </li>
                </div>
            </div>
            <p class='login-register'>Already a User? <a href='#' data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log In</a>
            </p>
        </div>
    </div>
 </div>